{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<style>
    .left_block {
        width: 70%;
        min-height: 150px;
        float: left;
    }

    .right_block {
        width: 28%;
        min-height: 150px;
        margin-left: 72%;
    }
</style>

{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/">{% trans 'Home' %}</a>
    &rsaquo; {% if has_change_permission %}<a
        href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
    {% block object-tools %}
    {% if change %}{% if not is_popup %}
    <ul class="object-tools">
        {% block object-tools-items %}
        <li>
            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
            <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
        </li>
        {% endblock %}
    </ul>
    {% endif %}{% endif %}
    {% endblock %}
    <!---->
    <div class="left_block">
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
            id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
            <div>
                {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
                {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
                {% if errors %}
                <p class="errornote">
                    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                </p>
                {{ adminform.form.non_field_errors }}
                {% endif %}

                {% block field_sets %}
                {% for fieldset in adminform %}
                {% include "admin/includes/fieldset.html" %}
                {% endfor %}
                {% endblock %}

                {% block after_field_sets %}{% endblock %}

                {% block inline_field_sets %}
                {% for inline_admin_formset in inline_admin_formsets %}
                {% include inline_admin_formset.opts.template %}
                {% endfor %}
                {% endblock %}

                {% block after_related_objects %}{% endblock %}
            </div>
            <!---->

            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

            {% block admin_change_form_document_ready %}
            <script type="text/javascript">
                (function ($) {
                    $(document).ready(function () {
                        $('.add-another').click(function (e) {
                            e.preventDefault();
                            var event = $.Event('django:add-another-related');
                            $(this).trigger(event);
                            if (!event.isDefaultPrevented()) {
                                showAddAnotherPopup(this);
                            }
                        });
                        $('.related-lookup').click(function (e) {
                            e.preventDefault();
                            var event = $.Event('django:lookup-related');
                            $(this).trigger(event);
                            if (!event.isDefaultPrevented()) {
                                showRelatedObjectLookupPopup(this);
                            }
                        });
                        $('body').on('click', '.related-widget-wrapper-link', function (e) {
                            e.preventDefault();
                            if (this.href) {
                                var event = $.Event('django:show-related', { href: this.href });
                                $(this).trigger(event);
                                if (!event.isDefaultPrevented()) {
                                    showRelatedObjectPopup(this);
                                }
                            }
                        });
                        $('body').on('change', '.related-widget-wrapper select', function (e) {
                            var event = $.Event('django:update-related');
                            $(this).trigger(event);
                            if (!event.isDefaultPrevented()) {
                                updateRelatedObjectLinks(this);
                            }
                        });
                        $('.related-widget-wrapper select').trigger('change');

                        {% if adminform and add %}
                        $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
                        {% endif %}
                    });
                })(django.jQuery);
            </script>
            {% endblock %}
            {# JavaScript for prepopulated fields #}
            {% prepopulated_fields_js %}
    </div>
    <div class="right_block">
        <fieldset class="module aligned wide extrapretty">
            <h2>{% firstof about_obj.object "Описание" %}</h2>
            <div class="form-row">
                <p style="text-align: justify;">
                    {% if about_obj.information %}
                        {{ about_obj.information|safe }}
                    {% else %}
                        Описание для данного объекта пока отсутствует
                    {% endif %}
                </p>
            </div>
        </fieldset>
    </div>
    </form>
</div>
</div>

{% endblock %}