<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Аднимистрирование telegram-bot</title>

  <script src="https://kit.fontawesome.com/d8a486a543.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .card {
      min-height: 400px;
      background-color: rgb(122, 176, 201);
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-dark bg-white">
    <a {% if logo_url %}href="{{ logo_url }}"{% endif %} target="_blank"><img class="navbar-brand" src="logo.png" alt="Логотип"></a>
    <div id="user-tools">

      {% block welcome-msg %}
      <div class="text-md-right">
        <span class="text-black">Добро пожаловать,</span>
        <strong class="text-black">{% firstof user.get_short_name user.get_username %}</strong><span
          class="text-black">.</span>
      </div>
      {% endblock %}

      {% block userlinks %}
      <div class="text-md-right">
        {% if site_url %}
        <a class="text-black" href="{{ site_url }}">Просмотр сайта</a> <span class="text-black">/</span>
        {% endif %}
        {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
        <a class="text-black" href="{{ docsroot }}">Документация</a> <span class="text-black">/</span>
        {% endif %}
        {% endif %}
        {% if user.has_usable_password %}
        <a class="text-black" href="{% url 'admin:password_change' %}">Сменить пароль</a> <span
          class="text-black">/</span>
        {% endif %}
        <a class="text-black" href="{% url 'admin:logout' %}">Выход</a>
      </div>
      {% endblock %}
    </div>
  </nav>

  <!-- Modal -->
  <div class="modal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Основы настройки</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Основы</h5>
          {{ main_info_html|safe }}
          <hr>
          <h5>Справочник по основным настройкам</h5>
          {{ models_info_html|safe }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>


  <div id="content-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          {% if messages %}
          {% for message in messages %}
          <div
            class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %} w-100"
            role="alert">
            {{ message }}
            {% endfor %}
          </div>
          {% endif %}
          <form method="post" id="invite_form">
            {% csrf_token %}
          </form>

          <div class="input-group input-group-sm float-right w-25 mt-3 mr-3">

            <input type="text" id="{{ invite_form.email.id_for_label }}" name="{{ invite_form.email.html_name }}"
              form="invite_form" class="form-control" placeholder="email" aria-label="Small"
              aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit" name="send_invite" form="invite_form"
                style="background-color: rgb(122, 176, 201);"><i class="fas fa-paper-plane"></i></button>
            </div>

          </div>

          <div class="jumbotron">
            <h1 class="display-3">Панель администрирования</h1>
            <p class="lead">Панель администрирования информационного telegram-бота</p>
            <hr class="my-2">
            <p>Для получения более подробной информации о настройке бота, воспользуйтесь кнопкой "Подробнее"</p>
            <p class="lead">
              <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal"
                data-target="#infoModal">Подробнее</button>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <div class="card text-white mb-3 d-inline-block shadow">
            <div class="card-header"><a class="text-white" href="/admin/bot/botadministrator/add/"><i
                  class="fas fa-plus"></i>
                Администраторы</a></div>
            <div class="card-body">
              <h4 class="card-title"><a class="text-white" href="/admin/bot/botadministrator/"><i
                    class="fas fa-user-secret"></i> Администраторы</a></h4>
              <p class="card-text">Настройка прав доступа в панель администрирования. Добавление администраторов.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card text-white mb-3 d-inline-block shadow">
            {% for model in app_list.0.models %}
            {% if model.object_name == "BotUser" %}
            <div class="card-header"><a class="text-white" href="{{ model.add_url }}"><i class="fas fa-plus"></i>
                Пользователи</a></div>
            <div class="card-body">
              <h4 class="card-title"><a class="text-white" href="{{ model.admin_url }}"><i class="fas fa-user"></i>
                  {{ model.name }}</a></h4>
              <p class="card-text">Настройка пользователей. Добавление пользователей и доступных им подписок.</p>
              {% endif %}
              {% endfor %}
              {% for model in app_list.0.models %}
              {% if model.object_name == "UserGroup" %}
              <h4 class="card-title"><a class="text-white" href="{{ model.admin_url }}"><i
                    class="fas fa-user-friends"></i> {{ model.name }}</a></h4>
              <p class="card-text">Настройка групп пользователей. Меню, доступные пользователю, определяются в данном
                меню.</p>
              {% endif %}
              {% if model.object_name == "Invites" %}
              <h4 class="card-title"><a class="text-white" href="{{ model.admin_url }}"><i
                    class="fas fa-paper-plane"></i>
                  {{ model.name }}</a></h4>
              <p class="card-text">Инвайты пользователей. Просмотр и аппрув инвайтов производится в этом меню.</p>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="card text-white mb-3 d-inline-block shadow">
            {% for model in app_list.0.models %}
            {% if model.object_name == "Buttons" %}
            <div class="card-header"><a class="text-white" href="{{ model.add_url }}"><i class="fas fa-plus"></i>
                Меню</a>
            </div>
            <div class="card-body">
              <h4 class="card-title"><a class="text-white" href="{{ model.admin_url }}"><i class="fas fa-bars"></i>
                  {{ model.name }}</a></h4>
              <p class="card-text">Настройка кнопок меню. Добавление новых кнопок и настройка их действий.</p>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card text-white mb-3 d-inline-block shadow">
            {% for model in app_list.0.models %}
            {% if model.object_name == "Subscriptions" %}
            <div class="card-header"><a class="text-white" href="{{ model.add_url }}"><i class="fas fa-plus"></i>
                Подписки</a></div>
            <div class="card-body">
              <h4 class="card-title"><a class="text-white" href="{{ model.admin_url }}"><i class="fas fa-envelope"></i>
                  {{ model.name }}</a></h4>
              <p class="card-text">Настройка подписок. Добавление подписок и настройка их действий.</p>
              {% endif %}
              {% if model.object_name == "SubscriptionType" %}
              <h4 class="card-title"><a class="text-white" href="{{ model.admin_url }}"><i class="fas fa-mail-bulk"></i>
                  {{ model.name }}</a></h4>
              <p class="card-text">Настройка типов подписок производится в данном меню.</p>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          {% for model in app_list.0.models %}
          {% if model.object_name == "Actions" %}
          <div class="card text-white mb-3 d-inline-block shadow">
            <div class="card-header"><a class="text-white" href="{{ model.add_url }}"><i class="fas fa-plus"></i>
                Экшены</a></div>
            <div class="card-body">
              <h4 class="card-title"><a class="text-white" href="{{ model.admin_url }}"><i class="fas fa-terminal"></i>
                  {{ model.name }}</a></h4>
              <p class="card-text">Настройка экшенов производится в данном меню.</p>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-bottom text-md-center text-white-50" style="background-color: rgb(234, 237, 240);">^-^</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>